USE [master]
GO
/****** Object:  Database [Rentas]    Script Date: 03/03/2018 02:34:26 p.m. ******/
CREATE DATABASE [Rentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rentas', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Rentas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Rentas_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Rentas_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rentas]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[ID] [int] NOT NULL,
	[USER_NAME] [char](10) NULL,
	[CORREO] [varchar](50) NULL,
	[CEL] [numeric](18, 0) NULL,
	[CTA] [int] NULL,
	[UBICACION] [geography] NULL,
	[EQUIPO_LP] [int] NULL,
	[EQUIPO_PC] [int] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[desktop]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[desktop](
	[ID_PRODUCT] [int] NOT NULL,
	[MODELO] [varchar](50) NULL,
	[ESP_CPU] [varchar](50) NULL,
	[ESP_RAM] [varchar](50) NULL,
	[ESP_DD] [varchar](50) NULL,
	[ESP_GPU] [varchar](50) NULL,
	[Observaciones] [text] NULL,
	[DATE_INGRESO] [date] NULL,
	[ACCESORIOS] [varchar](50) NULL,
	[ADD_MONITOR] [int] NOT NULL,
 CONSTRAINT [PK_desktop] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empresa](
	[NOM_EMPRESA] [varchar](50) NULL,
	[NUM_CTA] [int] NULL,
	[ID_EMPRESA] [int] NOT NULL,
	[RAZON_SOCIAL] [varchar](50) NULL,
	[DIRECCION_FISCAL] [varchar](50) NULL,
	[EMAIL_ADMON] [varchar](50) NULL,
	[DATE_INGRESO] [date] NULL,
 CONSTRAINT [PK_empresa] PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[laptop]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[laptop](
	[ID_PRODUCT] [int] NOT NULL,
	[MODELO] [nchar](10) NULL,
	[MARCA] [nchar](10) NULL,
	[ESP_CPU] [nchar](10) NULL,
	[ESP_RM] [nchar](10) NULL,
	[ESP_DD] [nchar](10) NULL,
	[DATE_INGRESO] [date] NULL,
	[Observaciones] [varchar](150) NULL,
 CONSTRAINT [PK_laptop] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[monitor]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[monitor](
	[ID_MONITOR] [int] NOT NULL,
	[MODELO] [varchar](50) NULL,
	[MARCA] [varchar](50) NULL,
	[NUM_SERIE] [varchar](50) NULL,
	[OBSER_ACCESORIOS] [varchar](50) NULL,
	[OB_DAÑOS] [varchar](50) NULL,
 CONSTRAINT [PK_monitor] PRIMARY KEY CLUSTERED 
(
	[ID_MONITOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Renter]    Script Date: 03/03/2018 02:34:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Renter](
	[ID_RENTER] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO_P] [varchar](50) NULL,
	[APELLIDO_M] [varchar](50) NULL,
	[NUM_CEL] [int] NULL,
	[CORREO] [varchar](50) NULL,
	[FECHA_CREATE] [datetime] NULL,
	[UBICACION] [geography] NULL,
	[EQUIPO_LP] [int] NOT NULL,
	[EQUIPO_PC] [int] NOT NULL,
	[ID_EMPRESA] [int] NOT NULL,
 CONSTRAINT [PK_Renter] PRIMARY KEY CLUSTERED 
(
	[ID_RENTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_cliente_CORREO]    Script Date: 03/03/2018 02:34:26 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_cliente_CORREO] ON [dbo].[cliente]
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_empresa]    Script Date: 03/03/2018 02:34:26 p.m. ******/
CREATE NONCLUSTERED INDEX [IX_empresa] ON [dbo].[empresa]
(
	[NOM_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_desktop] FOREIGN KEY([EQUIPO_PC])
REFERENCES [dbo].[desktop] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_desktop]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_laptop] FOREIGN KEY([EQUIPO_LP])
REFERENCES [dbo].[laptop] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_laptop]
GO
ALTER TABLE [dbo].[desktop]  WITH CHECK ADD  CONSTRAINT [FK_desktop_monitor] FOREIGN KEY([ADD_MONITOR])
REFERENCES [dbo].[monitor] ([ID_MONITOR])
GO
ALTER TABLE [dbo].[desktop] CHECK CONSTRAINT [FK_desktop_monitor]
GO
ALTER TABLE [dbo].[Renter]  WITH CHECK ADD  CONSTRAINT [FK_Renter_desktop] FOREIGN KEY([EQUIPO_PC])
REFERENCES [dbo].[desktop] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[Renter] CHECK CONSTRAINT [FK_Renter_desktop]
GO
ALTER TABLE [dbo].[Renter]  WITH CHECK ADD  CONSTRAINT [FK_Renter_empresa] FOREIGN KEY([ID_EMPRESA])
REFERENCES [dbo].[empresa] ([ID_EMPRESA])
GO
ALTER TABLE [dbo].[Renter] CHECK CONSTRAINT [FK_Renter_empresa]
GO
ALTER TABLE [dbo].[Renter]  WITH CHECK ADD  CONSTRAINT [FK_Renter_laptop] FOREIGN KEY([EQUIPO_LP])
REFERENCES [dbo].[laptop] ([ID_PRODUCT])
GO
ALTER TABLE [dbo].[Renter] CHECK CONSTRAINT [FK_Renter_laptop]
GO
USE [master]
GO
